@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* add Roboto font */

* {
    /* set all text to Roboto */
    font-family: 'Roboto', sans-serif;
}

.header, #section-one, .footer {
    /* set colors for header, footer, and section one */
    background-color: #1F2937;
    color: #F9FAF8;
}

.header a {
    /* remove default link styling */
    text-decoration: none;
    color: #E5E7EB;
}

#section-three {
    /* set colors for section three */
    background-color: #E5E7EB;
    color: #1F2937;
}